div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: x-large;
  text-transform: capitalize;
  padding: 1vw;
  width: 18vw;
  height: 10vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-blend-mode: overlay;
  cursor: pointer;

  p {
    font-size: 1rem;
    color: white;
    text-align: center;
  }
}
